<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="GUIComponents" Directory="INSTALLFOLDER">
            <Component Id="MultipassGUI" Subdirectory="bin">
                <File Id="cinaseek.gui.exe" Source="bin\cinaseek.gui.exe" />
            </Component>

            <Component>
                <RegistryValue Root="HKCU" Key="SOFTWARE\Canonical\Multipass" Name="installed"
                    Type="integer" Value="1" KeyPath="yes" />
                <Shortcut Name="Multipass" Directory="ProgramMenuFolder" Icon="mp.exe"
                    Target="[#cinaseek.gui.exe]" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
